<%= form_for(producto) do |f| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :modelo_id %>
    <%= f.text_field :modelo_id %>
  </div>

  <div class="field">
    <%= f.label :codigo_fabricante %>
    <%= f.text_field :codigo_fabricante %>
  </div>

  <div class="field">
    <%= f.label :unidad %>
    <%= f.text_field :unidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
